name: Run HNSW test
run-name: Run HNSW test

on:
  push:
    branches: [main]

jobs:
  run-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run test script
        run: |
          python3.11 scripts/main.py --csv data/baguio_tourist_pois.csv --hnsw_bin bin/baguio --out results/baguio --num_queries 1000 --sample_queries 500 --k 10
          python3.11 scripts/main.py --csv data/cordillera_tourist_pois.csv --hnsw_bin bin/cordillera --out results/cordillera --num_queries 1000 --sample_queries 500 --k 10
          python3.11 scripts/main.py --csv data/luzon_tourist_pois.csv --hnsw_bin bin/luzon --out results/luzon --num_queries 1000 --sample_queries 500 --k 10
          python3.11 scripts/main.py --csv data/philippines_tourist_pois.csv --hnsw_bin bin/philippines --out results/philippines --num_queries 1000 --sample_queries 500 --k 10
          python3.11 scripts/main.py --csv data/indonesia_tourist_pois.csv --hnsw_bin bin/indonesia --out results/indonesia --num_queries 1000 --sample_queries 500 --k 10
          python3.11 scripts/main.py --csv data/sea_tourist_pois.csv --hnsw_bin bin/sea --out results/sea --num_queries 1000 --sample_queries 500 --k 10


          