name: Run HNSW test
run-name: Run HNSW test

on:
  push:
    branches: [main]

jobs:
  run-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run test script
        run: |
          python3.11 scripts/main.py --csv data/baguio_tourist_pois.csv --out results/baguio --hnsw_bin bin/baguio --num_queries 1000 --k 10
          python3.11 scripts/main.py --csv data/cordillera_tourist_pois.csv --out results/cordillera --hnsw_bin bin/cordillera --num_queries 1000 --k 10
          python3.11 scripts/main.py --csv data/luzon_tourist_pois.csv --out results/luzon --hnsw_bin bin/luzon --num_queries 1000 --k 10
          python3.11 scripts/main.py --csv data/philippines_tourist_pois.csv --out results/philippines --hnsw_bin bin/philippines --num_queries 1000 --k 10
          python3.11 scripts/main.py --csv data/sea_tourist_pois.csv --out results/sea --hnsw_bin bin/sea --num_queries 1000 --k 10
          python3.11 scripts/main.py --csv data/random_100k --out results/random_100k --num_queries 1000 --k 10 --synthetic_data 100000

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: |
            bin
            results


          