name: Run HNSW test
run-name: Run HNSW test

on:
  push:
    branches: [main]

jobs:
  run-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run test script
        run: |
          python3.11 -u scripts/main.py --csv data/random_1M --out results/random_1M --num_queries 1000 --k 10 --synthetic_data 1000000

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: |
            bin
            results


          